<p>¡Mira el video y responde las preguntas!</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/StoiGqdHkPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="card-body">
    <form >
    <div class="mb-3">
      <label for="" class="form-label">¿Que te parecio el video?</label>
      <select class="form-select" multiple aria-label="multiple select example">
        <option selected>Elija una opcion</option>
        <option value="1">Me gusto</option>
        <option value="2">No me gusto</option>
        <option value="3">Lo odie!</option>
      </select>
    </div>

    
    <div class="mb-3">
        <label for="" class="form-label">Descripcion del video</label>
        <input type="text" 
          class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe la descipcion del juego">
      </div>
    

    <div class="mb-3">
        <label for="" class="form-label">Otro</label>
        <input type="text" 
          class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe la cantidad de niveles del juego">
      </div>        

    <div class="btn-group" role="group" aria-label="">
        <button type="submit" class="btn btn-success">Calificar</button>
        <button type="button" class="btn btn-primary">Cancelar</button>
    </div>
    </form>
</div>
